@media only screen and (min-width: 1200px) {
  .texto_mes-1 {
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto;
    grid-template-areas: "mes fecha01 fecha02";
    justify-items: center;
    align-items: center;
    column-gap: 2rem; }
  .texto_mes-2 {
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto;
    grid-template-areas: "mes fecha03 fecha04";
    justify-items: center;
    align-items: center;
    column-gap: 2rem; }
  .texto_mes-3 {
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto;
    grid-template-areas: "mes fecha05 fecha06";
    justify-items: center;
    align-items: center;
    column-gap: 2rem; } }

@media only screen and (max-width: 1600px) {
  .portada_section {
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #d3d3d3; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #000000;
  background-color: #d3d3d3; }

body::-webkit-scrollbar {
  width: 0.25rem; }

body::-webkit-scrollbar-track {
  background: #1e1e24; }

body::-webkit-scrollbar-thumb {
  background: #6648b8; }

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --transition-speed: 0.6s; }

main {
  margin: 2rem auto; }

hr {
  margin: 1rem; }

.portada {
  width: 70vw;
  margin: 0 auto; }

.container_padre-fechas {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 0vw;
  row-gap: 2vw;
  justify-content: center;
  grid-template-areas: "mes01"
 "mes02"
 "mes03"; }

.container_hijo-fechas {
  grid-area: "mes01"; }

.container_hijo2-fechas {
  grid-area: "mes02"; }

.container_hijo3-fechas {
  grid-area: "mes03"; }

.div_hijo-fechas {
  border-top: #0000ff solid 0.2rem;
  border-left: #0000ff solid 0.2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

a {
  text-decoration: none; }

.fecha01 {
  grid-area: "fecha01"; }

.fecha02 {
  grid-area: "fecha02"; }

.fecha03 {
  grid-area: "fecha03"; }

.fecha04 {
  grid-area: "fecha04"; }

.fecha05 {
  grid-area: "fecha05"; }

.fecha06 {
  grid-area: "fecha06"; }

.fecha-titulo {
  margin: 1rem;
  padding: .5rem;
  font-size: 2rem; }

.portada_section {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #b3b3b3; }

.portada_background-discografia {
  background-color: #b3b3b3; }

h1 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center; }

h2 {
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.parrafo {
  padding: 1rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #b3b3b3; }

.texto_nombre {
  padding: 1rem;
  background-color: #6464cf;
  margin: 4rem; }

.imagen_index {
  width: 100%;
  padding: 1rem;
  background-color: #b3b3b3;
  margin: 1rem auto; }

.div__discografia {
  padding: 1rem; }

.navbar {
  z-index: 100000000;
  position: fixed;
  overflow: clip;
  background-color: #7c7c7c;
  transition: width 0.5s ease;
  letter-spacing: .1em; }

.navbar-nav {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  height: 100%; }

.navbar-item {
  width: 100%; }

.navbar-item:last-child {
  margin-top: auto; }

.navbar-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #ad3939;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed); }

.navbar-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #6464cf;
  color: #c7c7c7; }

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #c7c7c7;
  background: #6464cf;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%; }

.logo img {
  transform: rotate(0deg);
  transition: transform var(--transition-speed); }

.navbar:hover .logo img {
  transform: rotate(-180deg); }

.link-text {
  display: none;
  margin-left: 1rem; }

.navbar-link img {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem; }

.navbar:hover .link-text {
  display: block; }

.border_form {
  border: #0000ff solid 0.2rem;
  padding: 1.5rem;
  background-color: #a8a8a8; }

.alineadoCentro {
  text-align: center;
  margin: 1rem;
  padding: 1rem; }

.footer_icons {
  margin: 1rem; }

@media only screen and (max-width: 1540px) {
  .portada_section {
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #d3d3d3; } }

@media only screen and (max-width: 480px) {
  .imagen_integrantes {
    width: 80vw; } }

@media only screen and (max-width: 600px) {
  .portada {
    width: 80vw; }
  .portada_section {
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #d3d3d3; }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed; }
  .logo {
    display: none; }
  .navbar-nav {
    flex-direction: row; }
  .navbar-link {
    justify-content: center; }
  main {
    margin: 0; }
  .navbar:hover .link-text {
    display: none; }
  .alineadoCentro {
    margin-bottom: 5rem; } }

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh; }
  .navbar:hover {
    width: 16rem; }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed); } }
