$body-color: #000000;
$body-bg-color: #d3d3d3;
$barra-bg-color: #1e1e24;
$barra-color: #6648b8;
$borde-color: #0000ff;
$bg-discografia: #b3b3b3;
$bg-parrafo: #b3b3b3;
$navbar-bg-color: #7c7c7c;
$bg-nombre-integrantes: #6464cf;
$bg-form-color: #a8a8a8;
$text-secondary: #c7c7c7;
$text-primary : #ad3939
